@import 'config';
@import 'components';

body{
  background-color: $primary-white;
}

main{
  background-color: $color-primary;
  .card_container {
    width: 100px;

    img {
      width: 90px;
    }

    h3 {
      color: $color-neutral;
    }

    li {
      color: $primary-white;
    }
  }
}

header{
  img{
    width: 100vw;
  }
}

// Login
.login {
  h1 {
    color: $color-primary;
  }
}
.login__options {
    padding: 10px, 5px ;
    margin: 5px;
    color: $color-primary;
}

.login__exists__options {
  display: flex;

  a {
    color: $color-neutral;
    text-decoration: none;
  }
}



// Post View Page

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  // :hover {
  //   // transform: scale(1.1);
  //   box-shadow: 0 4px 8px 0 rgba(47, 133, 213, 0.194), 0 6px 20px 0 rgba(47, 133, 213, 0.194);
  // text-align: center;
  // }
}

.card-body__flex {
  display: flex;
  i {
    display: flex;
    justify-content: right;
  }
}

// Post Detail Page
.carousel-item {
  img {
    height: 500px;
    overflow: hidden;
  }
}

.container__details {
  h1 {
    margin-top: 20px;
  }
  h4 {
    font-size: 1em;
    color: $color-primary;
  }
}

.about__blocks{
  margin-top: 30px;
  background-color: $color-neutral;
  border-radius: 5px;

  h5{
    color: $color-primary;
    margin-top: 10px;
    text-align: center;
  }

  p{
    text-align: center;
    color: $primary-white;
  }
}

.container_more_details {
  h2 {
    margin-top: 30px;
  }
  h3 {
    font-size: 1.25em;
  }
}

.container__bio {
  h2 {
    margin: 30px 0 10px 0;
  }
}

// Profile Detail Page

.profile_header {
  display: flex;
}