@import 'config';
@import 'components';

body{
  background-color: $primary-white;
}

main{
  background-color: $color-primary;
  .card_container {
    width: 100px;

    img {
      width: 90px;
    }

    h3 {
      color: $color-neutral;
    }

    li {
      color: $primary-white;
    }
  }
}

header{
  img{
    width: 100vw;
  }
}


.about__blocks{
  background-color: $color-secondary;

  h5{
    color: $color-neutral;
  }
}