{% extends 'base.html' %} 
{% block title %}- Log In{% endblock title %}
{% load widget_tweaks %}


{% block content %}
{% if user.is_authenticated %}

<div class="login">
<h1 id="login" class="mt-5">Log In</h1>

  <h2 class="login__exists">{{ user.username }} you're already logged in.</h2>
  <div class="login__exists__options">
    <a href="{% url 'logout' %}" style="text-decoration: none;">Logout </a>
    <p class="login__options"> or continue to </p>
    <a href="{% url 'home' %}" style="text-decoration: none;"> Home</a>
  </div>
</div>

  {% else %}
  <h1 id="login_header" class="mt-5">Log In</h1>
    <div class="login_form">
      <form class="m-3" method="post" action="{% url 'login' %}">
        <div class="d-flex align-items-center flex-column my-4">
          {% csrf_token %} 
          <div class="input-group mb-3 px-3">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-user-circle"></i></span>
            {{ form.username|add_class:"form-control"|attr:"placeholder:Username" }}
          </div>
          <div class="input-group mb-3 px-3">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
            {{ form.password|add_class:"form-control"|attr:"placeholder:Password" }}
          </div>
          <div class="boolean_login">
            <a href="{% url 'signup' %}" style="text-decoration:none; color:#758bfd">Don't have a Login? <span class="login_signup">Sign Up</span></a>
          </div>
          <input class="px-3 py-1 btn btn-dark mt-3" style="background-color:#27187e;" type="submit" class="button" value="Log In" id="signin"/>
          <input type="hidden" name="next" value="{{ next }}" />
        </div>
      </form>
    </div>

{% endif %}

{% endblock %}