{% extends 'base.html' %}

{% block title %}- Sign Up{% endblock  %}
{% load widget_tweaks %}

{% block content %}


{% comment %} <form action="{% url 'signup' %}" method="POST">
    {% csrf_token %}
    {{ signup_user_form }}
    {{ signup_profile_form }}
    <input type="submit" value="Sign Up">
</form> {% endcomment %}

<img src="/static/assets/flouffy-qEO5MpLyOks-unsplash.jpg" alt="dog with glasses" height="700px">

<h1>Sign Up</h1>
{% if signup_user_form.errors or signup_profile_form.errors %}
    <h3 class="alert alert-danger"> {{signup_user_form.errors}} {{signup_profile_form.errors}} </h3>
{% endif %}

<div class="mt-2" style="margin:auto; padding:30px; width:500px">
    <form action="{% url 'signup' %}" method="POST">
        <div class="mt-3 mb-3 d-flex align-items-left flex-column" id="title">
            <input type="hidden" name="form_name" value="login_form"> 
        {% csrf_token %}
        {{ signup_user_form }}
        {{ signup_profile_form }}
        <input class="btn" type="submit" value="Sign Up" style="width:100px;background-color:#27187e;color:#f1f2f6">

    </form>
</div>



{% endblock %}