{% extends 'base.html' %}
{% block title %} - Home{% endblock title %}

{% block content %}
<header>
<h1>HOOOOOOOOME</h1>

<img src="https://assets.website-files.com/5f7289d0a4144d58133e8a21/600920e90f232fa851feaaba_petplan-branding_optimized.jpg" alt="dogs">

</header>

<main>
{% for post in posts %}
<div class="card_container">

  <img src="{{ post.image }}" alt="dog">
  <h3>{{ post.dog_name }}</h3>
  <ul>
  <li>{{ post.gender }}</li>
  <li>{{ post.age }}</li>
  <li>{{ post.size }}</li>
  </ul>



</div>
{% endfor %}


</main>




{% endblock %}