{% extends 'base.html' %}
{% block title %} - Home{% endblock title %}

{% block content %}
<header>
<h1>HOOOOOOOOME</h1>

<img src="https://assets.website-files.com/5f7289d0a4144d58133e8a21/600920e90f232fa851feaaba_petplan-branding_optimized.jpg" alt="dogs">

</header>

<main>
{% comment %} {% for post in posts %}
<div class="home_container">

  <img src="{{ post.image }}" alt="dog">
  <h3>{{ post.dog_name }}</h3>
  <ul>
  <li>{{ post.gender }}</li>
  <li>{{ post.age }}</li>
  <li>{{ post.size }}</li>
  </ul>



</div>
{% endfor %} {% endcomment %}

<h3>Looking for a Friend?</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus excepturi illum necessitatibus tenetur dolore minima accusamus illo, facilis eos voluptas vel! Omnis veniam excepturi laborum nisi quos dignissimos totam officia!</p>

<h3>Need to rehome a Dog?</h3>
<p>That's okay!</p>

<h3>Are you a rescue?</h3>
<p>Great!</p>



</main>




{% endblock %}