{% extends 'base.html' %}

{% block content %}


<h1>dogs page</h1>

<div class="container-fluid">
  <div class="row row-cols-3 gy-5">
    <div class="col gx-5">
    {% for post in posts %}
      <div class="card" style="width: 18rem;">
        <img src="{{ post.image }}" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="card-body__flex">
            <h5 class="card-title">{{ post.dog_name }}</h5>
            <span><i class="far fa-heart"></i></span>
            <span><i class="far fa-comment-alt"></i></span>
          </div>
          <p class="card-text">{{ post.breed }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">{{ post.user.location }}</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">{% url 'post_detail' post.pk %}</a>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>






{% endblock %}