{% extends 'base.html' %}

{% block content %}


<h1>dogs page</h1>

<div class="container-fluid">
  <div class="row row-cols-3 gy-5">
    <div class="col gx-5">
    {% for post in posts %}
      <div class="card" style="width: 18rem;">
        <img src="{{ post.image }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ post.dog_name }}</h5>
          <p class="card-text">{{ post.breed }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">{{ user.location }}</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      {% endfor %}
      </div>
    </div>
    <div class="col gx-5">Column
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col">Column</div>
    <div class="col">Column</div>
  </div>
</div>


<img src="{{post.image}}" alt="dog">


<i class="far fa-heart"></i>
<i class="far fa-comment-alt"></i>

{% endblock %}